<div class="sectionh2 form">
  <h2>タスクの追加</h2>
  <%= error_messages_for :task %>
<% form_for(:task, :url => {:action => "create"}) do |form| %>
  <table class="tbl_frame">
    <tbody>
      <tr>
        <th>タスク</th>
        <td><%= form.text_field :name, :size => 40 %></td>
      </tr>
      <tr>
        <th>メモ</th>
        <td><%= form.text_area :memo %></td>
      </tr>
      <tr>
        <th>タグ</th>
        <td><%= form.text_field :tag_list %></td>
        <%= hidden_field :user_id, :value => session[:userID] %>
      </tr>
      <tr>
        <th>リスト(あとで消す)</th>
        <td><%= select(:task, :list_id, List.find(:all, :conditions => ["user_id = ?", session[:userID]]).collect{|i| [i.name, i.id]} + [["", 0]]) %></td>
      </tr>
      <tr>
        <th>期限</th>
        <td><%= form.text_field :due %></td>
      </tr>
      <tr>
        <th>ステータス</th>
        <td><%= form.select :task_status, Task::TASK_STATUSES %></td>
      </tr>

    </tbody>
  </table>
  <%= submit_tag %>
<% end %>
</div>