<% @lists = List.find_by_uid(session[:userID]) %>

<div id="sidebar">
  <div class="sectionh2 firstchild">
    <h2>[リスト]</h2>
    <ul>
      <li><%= link_to 'リスト一覧へ', :controller => 'list', :action => 'index' %></li>
      <li><%= link_to '全タスク表示', :controller => 'todo', :action => 'index' %></li>
      <% for list in @lists %>
      <li><%= link_to((list.name), :controller => 'todo', :action => 'list', :id => list) %></li>
      <% end %>
    </ul>
  </div>
  <div class="sectionh2">
    <h2>[プロジェクト管理]</h2>
    <ul>
      <li class="firstchild"><%= link_to '作成', :controller => 'project', :action => 'new' %> </li>
      <li><%= link_to '一覧表示/削除', :controller => 'project', :action => 'index' %> </li>
    </ul>
  </div>
  <% if session[:userAuth] %>
  <div class="sectionh2">
    <h2>[ユーザ管理]</h2>
    <ul>
      <li class="firstchild"><%= link_to '作成', :controller => 'signup' %></li>
      <li><%= link_to '一覧表示/削除', :controller => 'signup', :action => 'list' %></li>
    </ul>
  </div>
  <% end %>
</div>